<div class="table-actions">
    @if (ViewActions.Count > 0)
    {
        <MudMenu Dense="true" Icon="@Icons.Material.Filled.Visibility" Size="Size.Small" Class="table-action-button view-action" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
            @foreach (var action in ViewActions)
            {
                <MudMenuItem OnClick="@(() => OnViewAction.InvokeAsync(action))">@action</MudMenuItem>
            }
        </MudMenu>
    }
    else
    {
        <MudTooltip Text="@ViewTooltip">
            <MudIconButton Icon="@Icons.Material.Filled.Visibility" Size="Size.Small" Class="table-action-button view-action" OnClick="OnView" />
        </MudTooltip>
    }

    @if (EditActions.Count > 0)
    {
        <MudMenu Dense="true" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Class="table-action-button edit-action" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
            @foreach (var action in EditActions)
            {
                <MudMenuItem OnClick="@(() => OnEditAction.InvokeAsync(action))">@action</MudMenuItem>
            }
        </MudMenu>
    }
    else
    {
        <MudTooltip Text="@EditTooltip">
            <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Class="table-action-button edit-action" OnClick="OnEdit" />
        </MudTooltip>
    }

    <MudTooltip Text="@DeleteTooltip">
        <MudIconButton Icon="@Icons.Material.Filled.Delete" Size="Size.Small" Class="table-action-button delete-action" OnClick="OnDelete" />
    </MudTooltip>

    @if (ExtraActions.Count > 0)
    {
        <MudMenu Dense="true" Icon="@Icons.Material.Filled.MoreVert" Size="Size.Small" Class="table-action-button" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
            @foreach (var action in ExtraActions)
            {
                <MudMenuItem OnClick="@(() => OnExtraAction.InvokeAsync(action))">@action</MudMenuItem>
            }
        </MudMenu>
    }
</div>

@code {
    [Parameter]
    public IReadOnlyList<string> ExtraActions { get; set; } = [];

    [Parameter]
    public IReadOnlyList<string> ViewActions { get; set; } = [];

    [Parameter]
    public IReadOnlyList<string> EditActions { get; set; } = [];

    [Parameter]
    public string ViewTooltip { get; set; } = "View";

    [Parameter]
    public string EditTooltip { get; set; } = "Edit";

    [Parameter]
    public string DeleteTooltip { get; set; } = "Delete";

    [Parameter]
    public EventCallback OnView { get; set; }

    [Parameter]
    public EventCallback OnEdit { get; set; }

    [Parameter]
    public EventCallback OnDelete { get; set; }

    [Parameter]
    public EventCallback<string> OnViewAction { get; set; }

    [Parameter]
    public EventCallback<string> OnEditAction { get; set; }

    [Parameter]
    public EventCallback<string> OnExtraAction { get; set; }
}
